{% extends "base.html" %} {% block title %}Student Data{% endblock %} 
{% block content %}
<div>
    <div class = "text-end mb-3 mt-3">
        <a href="{% url "createView" %}">
            <button type="button" class = "btn btn-outline-danger">Add Student</button></a>
    </div>
    <table class = "table table-striped table-hover border rounded" >
    <thead>
        <tr>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col" class = "text-end">Action</th>
        </tr>
    </thead>
    <tbody>
        {% for student in students  %}
        <tr>
            <td scope="row">
                {{ student.first_name }}<br>
            </td>
            <td>
                {{ student.last_name }}<br>
            </td>
            <td class = "text-end">
                <a href="{% url 'updateView' student.student_id %}"><button type="button" class = "btn btn-primary btn-rounded border">Edit</button></a>
                <a href="{% url 'deleteView' student.student_id %}"><button type="button" class = "btn btn-secondary btn-rounded border">Delete</button></a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
</div>
{% endblock %}  
